
       <header class="flex gap-16 font-medium flex-col lg:flex-row ">
    
          <div class="img-area flex flex-col gap-3">
    
            <div class="rounded-full border-4 border-gray-300 w-[278px] h-[278px] flex items-center justify-center">
              <img [src]=user.avatar_url alt="Image" class="rounded-full w-[265px] h-[265px]">
            </div>
    
            <div>
    
             
              <mat-icon>link</mat-icon>
              <div>{{user.html_url}}</div>
    
            </div>
          </div>
    
          <div class="info-section flex flex-col gap-3 ">
    
            <h2 class="font-semibold text-3xl">{{user.name}}</h2>
            <p class="">{{user.bio}}</p>
            <div class="flex gap-2">
              <mat-icon>room</mat-icon>
               <div>{{user.location}}</div>
            </div>
    
            <div>
              Twitter: <span> https://twitter.com/{{user.twitter_username}}</span>
            </div>
          </div>
         
       </header>
    
       
    
  